body {
    background-color: #000080;
}

#map_canvas {
	width: 100%;
	height: 100vh;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
    /*Important because I am removing default Bootstrap padding*/
}

img.logo {
    width: 50%;
    margin: 25%;
    border: 2px solid white;
    border-radius: 10px;
}

#stripes {
    width: 100%;
    height: 27%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );
}

.sidebar-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar-list li {
    padding: 5px;
    font-family: "Verdana", sans-serif;
    font-size: 150%;
    color: #FFFFFF;
    text-align: center;
}

li:hover {
    background-color: #465298;
}

#bottom-links {
    list-style: none;
    padding: 0;
    width: 100%;
}

#bottom-links li {
    padding: 5px;
    font-family: "Verdana", sans-serif;
    font-size: 75%;
    color: #FFFFFF;
    text-align: center;
}