nav {
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}

.fill-height {
	height: 100%;
}

.padding-image {
	height: 80%;
	margin: 10%;
}

.side-padding {
	padding: 0 5%;
}

.content-padding {
	padding: 5% 0;
}

.header-block {
	background: url("images/header.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 70vh;
	background-color: blue;
}

.huge-title {
	color: #FFFFFF;
	font-size: 1500%;
}

.lobster-text {
	font-family: 'Lobster', cursive;
}

.circle-image-frame {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.circle-image-frame > img {
	width: 100%;
}